:root {
  --stopwatch-size: 30px;
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
button:focus {
    outline: none;
}
/* https://stackoverflow.com/questions/16283017/stop-chromes-click-and-hold-drag-image-default-behavior */
* {
  -webkit-user-drag: none;
}

/* Navbar Styles */
a.navbar-brand {
  display: flex;
  align-items: center;
  cursor: default;
}
a.navbar-brand img {
  height: var(--stopwatch-size);
  width: var(--stopwatch-size);
}
a.navbar-brand span:not(.dev-mode) {
  display: inline-block;
  padding-left: 1em;
}
.nav-button {
  text-align: right;
}


body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}
section {
  padding: 16px 16px 0 16px;
}
#fromDate:read-only:not([disabled]), #toDate:read-only:not([disabled]) {
  background-color: white;
}
label.col-form-label {
  font-weight: bold;
  text-align: center;
}
.hidden {
  display: none;
}
pre {
  border: 1px solid black;
}
thead th {
  text-align: center;
}
tbody td {
  text-align: center;
}
table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
}

body:not([dev-mode]) .dev-mode {
  display: none;
}
[dev-mode] .user-inputs .form-group > label {
  background-color: yellow !important;
}
[dev-mode] nav.bg-dark span, [dev-mode] thead.thead-darkish {
  color: yellow !important;
}
thead.thead-darkish {
  color: #fff;
  background-color: #343a40;
}
thead.thead-darkish tr th:first-child{
  border-radius:3px 0 0 0 !important;
}
thead.thead-darkish tr th:last-child{
  border-radius:0 3px 0 0 !important;
}
.form-check-holder {
  padding: 0px 15px;
}
.form-check-inline {
  padding: 6px 12px;
}

.form-progress-holder {
  padding-top: 11px;
}

/*
 *  HIDE / SHOW "Total Bytes" COLUMNS
 */
.abbreviated, .comma-separated, .integer {
  display:none;
}
[bytes-format~="abbreviated"] td.bytes span.abbreviated {
  display: inline;
}
[bytes-format~="comma-separated"] td.bytes span.comma-separated,
[requests-format~="comma-separated"] td.requests span.comma-separated {
  display: inline;
}
[bytes-format~="integer"] td.bytes span.integer,
[requests-format~="integer"] td.requests span.integer {
  display: inline;
}

/*
 *  TWEAK FORMATTING OF INPUT GROUPS WHEN INPUTS/SELECTS ARE NEXT TO LABELS
 */
.user-inputs input[type='text'], .user-inputs input[type='password'], .user-inputs input[type='number'], .user-inputs select {
  border: 0;
}
.pseudo-disabled, .pseudo-readonly, .user-inputs .form-group.pseudo-disabled, .user-inputs .form-group.pseudo-readonly {
  background-color: #e9ecef !important;
}

/*
 *  HERE THERE BE NEW / TEMPORARY STYLES...
 */
.user-inputs .container {
  padding: 0;
}
.user-inputs .container .row .col-6: {
  padding-left: 8 !important;
  padding-right: 8 !important;
}
.custom-checkbox .form-control {
  border: 0;
}
select {
  margin-left: 4px;
}

th a.sort-link:first-of-type {
  margin-left: 5px;
}
.sort-link {
  display: inline-block;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}
th a[sort-direction="desc"] {
  transform: rotate(180deg);
}
.flip {
  display: inline-block;
  transform: rotate(180deg);
}

/*
 *  HIDE SPINNERS - https://www.codexworld.com/how-to/remove-arrows-spinner-from-number-input-css/
 */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.pointer {
  cursor: pointer;
}

.banner-content {
  text-align: center;
  font-weight: bold;
}

.user-inputs .form-group {
  background-color: white;
}

#service-data thead div {
  display: inline-block;
}
#service-data thead div span {
  display: none;
}

body[average=true] #service-data thead th.non-average,
body[average=true] #service-data tbody td.non-average
{
  display: none;
}

body[average=false] #service-data thead th.average,
body[average=false] #service-data tbody td.average
{
  display: none;
}

.results h3 {
  text-align: center;
}

#info-icon {
  vertical-align: baseline;
}

.modal-close {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}
tbody th {
  text-align: center;
  vertical-align: middle !important;
}

#modal-settings-cookies input[readonly] {
  background-color: transparent;
}